@using static Lproj.Types
@using Microsoft.FSharp.Core

<!--suppress SpellCheckingInspection -->
<div class="train-table border">
    <h1>Game Sequence</h1>
    <h1>Action(Probability)</h1>
    @foreach (var (k,v) in Model.GetPolicyMap())
    {
        <div class="train-sequences">
            @foreach (var el in k)
            {
                // Hopefully it won't just toss the render fragments here away.
                if (el is FSharpChoice<Types.Action, Card>.Choice1Of2 act)
                {
                    ModelAction(act.Item);
                }
                else if (el is FSharpChoice<Types.Action, Card>.Choice2Of2 card)
                {
                    <div class="train-card">
                        @card.Item.ToString()
                    </div>
                }
            }
        </div>

        var actions = v.actions;
        var prob = normalize(IsTrain ? v.current_regrets : v.unnormalized_policy_average);

        <div class="train-action-probs">
            @foreach (var (a,b) in actions.Zip(prob))
            {
                <div class="train-action-probs-item">
                    @ModelAction(a)
                    <div class="train-probability">
                        @ShowProbability(b)
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    [EditorRequired]
    public required CFRPlayerModel Model { get; set; }

    [Parameter]
    [EditorRequired]
    public required bool IsTrain { get; set; }

    RenderFragment ModelAction(Types.Action act)
    {
        // I am really tempted to copy paste this.
        return @<div class="@css_train_action(act)">
                   @act.ToString()
               </div>;
    }

    string ShowProbability(double prob)
    {
        var p = (prob * 100.0).ToString("0.##");
        return $"({p})";
    }

}