@using static Lproj.Types
@using System.Timers
@using ApexCharts
@implements IDisposable

@typeparam TData where TData : class

<!--suppress SpellCheckingInspection -->

@code {
    public static readonly string ContainerFit = "100%";

    protected ApexChart<TData>? _chart;

    private Timer? _timer;
    private object? _oldPlayers;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _timer = new Timer(TimeSpan.FromSeconds(0.5));
            _timer.Elapsed += async delegate
            {
                if (_chart != null && !ReferenceEquals(Model.cfr_players, _oldPlayers))
                {
                    _oldPlayers = Model.cfr_players;
                    // https://github.com/apexcharts/Blazor-ApexCharts/issues/244
                    // bug: XValues are not updating correctly.
                    await _chart.UpdateSeriesAsync();
                }
            };
            _timer.Start();
        }
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    [Parameter] [EditorRequired]
    public required ClientModel Model { get; set; }

    [Parameter] [EditorRequired]
    public required Action<MsgClient> Dispatch { get; set; }

    protected UICFRPlayerModel M => Model.cfr_players[Model.active_cfr_player];

    protected RenderFragment CreateMenu(
        CFRPlayerType cfrSelectValue, string trainingRunIterations, uint trainingIterationsLeft,
        string msg, Action<ChangeEventArgs> selectOnChange, Action<MouseEventArgs> start, Action<ChangeEventArgs> itersChanged)
    {
        var isInputValid = UInt32.TryParse(trainingRunIterations, out _);
        return @<div class="train-ui-menu">
                   <button class="train-start-button"
                           @onclick="start"
                           disabled="@(!isInputValid)">
                       @(0 < trainingIterationsLeft ?
                           $"{msg} In Progress: {trainingIterationsLeft} left..." :
                           $"Click To Begin {msg}")
                   </button>
                   <select class="train-cfr-player-type"
                           @onchange="selectOnChange">
                       @foreach (var (k,v) in cfr_player_types)
                       {
                           <option value="@k"
                                   selected="@(v.Equals(cfrSelectValue))">
                               @k
                           </option>
                       }
                   </select>
                   <div class="train-label">
                       <pre>Number Of Iterations:  </pre>
                       <input class="train-input"
                              value="@trainingRunIterations"
                              style="@(isInputValid ? "" : "color: red")"
                              @onchange="itersChanged"/>
                   </div>
               </div>;
    }
}